*/.idea/
*/rjschi24/
*/__pycache__/
rjschi24*
Project1/data/moreDataHair.csv
Project1/data/moreDataHead.csv
Project1/data/moreDataLArm.csv
Project1/data/moreDataLLeg.csv
Project1/data/moreDataRArm.csv
Project1/data/moreDataRLeg.csv
Project1/data/moreDataTorso.csv
Project1/data/moreData.csv
